@model RezerVanaUmv.Models.Agency

@{
    ViewData["Title"] = "Ajans Detayı";
    Layout = "~/Views/PageViews/UserLayout.cshtml";
}

<h1>@RezerVanaUmv.Resources.Resource.Ajans_Detayı</h1>

<hr />
<dl class="row">
    <h5 class="col-sm-12">📌 @RezerVanaUmv.Resources.Resource.Temel_Bilgiler</h5>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Name)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Name)</dd>

    @*<dt class="col-sm-3">@Html.DisplayNameFor(m => m.TaxId)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.TaxId)</dd>*@

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Email)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Email)</dd>

    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9"></dd>

    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9"></dd>

    @*
    <h5 class="col-sm-12 mt-4">📱 @RezerVanaUmv.Resources.Resource.Kişisel_İletişim</h5>
    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Alan_Kodu</dt>

    <dd class="col-sm-9">@Model.IletisimAlanKodu</dd>


    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Telefon</dt>

    <dd class="col-sm-9">@Model.IletisimTel</dd>

    <dt class="col-sm-3">WhatsApp @RezerVanaUmv.Resources.Resource.Alan_Kodu</dt>

    <dd class="col-sm-9">@Model.WhatsappAlanKodu</dd>

    <dt class="col-sm-3">WhatsApp No</dt>
    <dd class="col-sm-9">@Model.WhatsappNo</dd>

    <dt class="col-sm-3">Viber @RezerVanaUmv.Resources.Resource.Alan_Kodu</dt>
    <dd class="col-sm-9">@Model.ViberAlanKodu</dd>

    <dt class="col-sm-3">Viber No</dt>
    <dd class="col-sm-9">@Model.ViberNo</dd>
    *@


    <h5 class="col-sm-12 mt-4">🏢@RezerVanaUmv.Resources.Resource.Kurumsal_Bilgiler</h5>
    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Unvan</dt>
    <dd class="col-sm-9">@Model.Unvan</dd>

    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Ülke</dt>

    <dd class="col-sm-9">@Model.Ulke</dd>

    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Şehir</dt>
    <dd class="col-sm-9">@Model.Sehir</dd>

    <h5 class="col-sm-12 mt-4">🏭 @RezerVanaUmv.Resources.Resource.Şirket_Bilgileri</h5>
    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Şirket_Tel_Alan_Kodu</dt>
    <dd class="col-sm-9">@Model.SirketTelAlanKodu</dd>

    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Şirket_Telefonu</dt>
    <dd class="col-sm-9">@Model.SirketTel</dd>

    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Şirket_Ülkesi</dt>
    <dd class="col-sm-9">@Model.SirketUlke</dd>

    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Şirket_Şehri</dt>
    <dd class="col-sm-9">@Model.SirketSehir</dd>

    <dt class="col-sm-3">@RezerVanaUmv.Resources.Resource.Şirket_Adresi</dt>
    <dd class="col-sm-9">@Model.SirketAdres</dd>



    <h5 class="col-sm-12 mt-4">⚙️ @RezerVanaUmv.Resources.Resource.Sistem</h5>


    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CreatedAt)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.CreatedAt)</dd>
</dl>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">@RezerVanaUmv.Resources.Resource.Edit</a>
    <a asp-action="Index" class="btn btn-secondary">@RezerVanaUmv.Resources.Resource.Listeye_Geri</a>
</div>
