@model RezerVanaUmv.Models.Campaign

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/PageViews/UserLayout.cshtml";
}

<h1>@RezerVanaUmv.Resources.Resource.Kayıt</h1>

<h4>@RezerVanaUmv.Resources.Resource.Kampanya</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenantId" class="control-label">Tenant</label>
                <select asp-for="TenantId" class ="form-control" asp-items="ViewBag.TenantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">@RezerVanaUmv.Resources.Resource.Unvan</label>
                <input asp-for="Title" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@RezerVanaUmv.Resources.Resource.Açıklama</label>
                <input asp-for="Description" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="TargetRoomType" class="control-label">@RezerVanaUmv.Resources.Resource.TargetRoomType</label>
                <input asp-for="TargetRoomType" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">@RezerVanaUmv.Resources.Resource.Start_Date</label>
                <input asp-for="StartDate" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">@RezerVanaUmv.Resources.Resource.End_Date</label>
                <input asp-for="EndDate" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="@RezerVanaUmv.Resources.Resource.Kayıt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@RezerVanaUmv.Resources.Resource.Listeye_Geri</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
