@model RezerVanaUmv.Models.LoyaltyPoint

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/PageViews/UserLayout.cshtml";
}

<h1>@RezerVanaUmv.Resources.Resource.Sil</h1>

<h3>@RezerVanaUmv.Resources.Resource.Silme_Onayı</h3>
<div>
    <h4>@RezerVanaUmv.Resources.Resource.LoyaltyPoint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BonusPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BonusPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalculatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalculatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@RezerVanaUmv.Resources.Resource.Listeye_Geri</a>
    </form>
</div>
