
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/PageViews/UserLayout.cshtml";
    ViewData["HideSidebar"] = true; // Hide the sidebar for this page
}
<div class="auth-container card" style="
    margin: 5px;
">
    <br />
    <div class="text-space " style="
    margin: 15px 10px;
">
        <br />
        <br />
    
        <h2 class="text-uppercase"> @RezerVanaUmv.Resources.Resource.Hakkımızda</h2>
        <p>
            @RezerVanaUmv.Resources.Resource.HakkımızdaP1
            <br>

            @RezerVanaUmv.Resources.Resource.HakkımızdaP2
            <br>
            @RezerVanaUmv.Resources.Resource.HakkımızdaP3
            <br>
            @RezerVanaUmv.Resources.Resource.HakkımızdaP4
            <br>
            @RezerVanaUmv.Resources.Resource.HakkımızdaP5
            <br>
            @RezerVanaUmv.Resources.Resource.HakkımızdaP6
            <br>
            @RezerVanaUmv.Resources.Resource.HakkımızdaP7
            <br>
            @RezerVanaUmv.Resources.Resource.HakkımızdaP8
            <br>
            @RezerVanaUmv.Resources.Resource.HakkımızdaP9
        </p>


    </div>
</div>