
@{
    ViewData["Title"] = "KullanimSartlari";
    Layout = "~/Views/PageViews/UserLayout.cshtml";
    ViewData["HideSidebar"] = true; // Hide the sidebar for this page
}


<div class="auth-container card" style="
    margin: 5px;
">
<br />
    <div class="text-space " style="
    margin: 15px 10px;
">
        <br />
        <br />
        <h4 class="text-uppercase">@RezerVanaUmv.Resources.Resource.KŞP1</h4>

        <h5 class="text-uppercase">@RezerVanaUmv.Resources.Resource.KŞP0</h5>

        <p>@RezerVanaUmv.Resources.Resource.KŞP2</p>
        <p class="text-uppercase"><strong>@RezerVanaUmv.Resources.Resource.KŞP3</strong></p>
        <p>@RezerVanaUmv.Resources.Resource.KŞP4</p>
        <p>@RezerVanaUmv.Resources.Resource.KŞP5</p>
        <p>@RezerVanaUmv.Resources.Resource.KŞP6</p>
        <p class="text-uppercase"><strong>@RezerVanaUmv.Resources.Resource.KŞP7</strong></p>
        <p>@RezerVanaUmv.Resources.Resource.KŞP8</p>

    </div>
</div>