
@{
    ViewData["Title"] = "Kvkk";
    Layout = "~/Views/PageViews/UserLayout.cshtml";
    ViewData["HideSidebar"] = true; // Hide the sidebar for this page
}
<br />
<div class="auth-container card" style="
    margin: 5px;
">
    <br />
    <div class="text-space " style="
    margin: 15px 10px;
">
      
        <br />
        <br />
        <div itemprop="articleBody" class="com-content-article__body">
            <p><strong>@RezerVanaUmv.Resources.Resource.KVKKnotice</strong></p>
            <p>&nbsp;</p>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp1</p>
            <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp2</p>
            <br>

            <p>@RezerVanaUmv.Resources.Resource.KVKKp3</p>
            <br>

            <p>@RezerVanaUmv.Resources.Resource.KVKKp4</p>
             <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp5</p>
             <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp6</p>
            <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp7</p>
               <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp8</p>
            <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp9</p>
            <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp10</p>
            <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp11</p>
            <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp12</p>
             <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp13</p>
             <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp14</p>
            <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp15</p>
             <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp16</p>
             <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp17</p>
             <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp18</p>
             <br>
            <p>@RezerVanaUmv.Resources.Resource.KVKKp19</p>
       

            <br>
            <br>

        </div>


    </div>
</div>

