@model RezerVanaUmv.Models.Reservation
@{
    ViewData["Title"] = "Rezervasyon Detayı";
    Layout = "~/Views/PageViews/UserLayout.cshtml";
}

<h1>@RezerVanaUmv.Resources.Resource.Rezervasyon_Detayı</h1>
<hr />

<div class="row">
    <!-- SOL: Rezervasyon Bilgileri -->
    <div class="col-md-6">
        <h5>📅 @RezerVanaUmv.Resources.Resource.Tarihler</h5>
        <p>
            <strong>@RezerVanaUmv.Resources.Resource.Giriş_Tarihi:</strong> @(Model.CheckinDate.HasValue
            ? Model.CheckinDate.Value.ToString("dd-MM-yyyy")
            : "")
        </p>
        <p>
            <strong>@RezerVanaUmv.Resources.Resource.Çıkış_Tarihi:</strong> @(Model.CheckoutDate.HasValue
            ? Model.CheckoutDate.Value.ToString("dd-MM-yyyy")
            : "")
        </p>
        <p>
            <strong>@RezerVanaUmv.Resources.Resource.Rezervasyon_Tarihi:</strong> @(Model.ReservationDate.HasValue
            ? Model.ReservationDate.Value.ToString("dd-MM-yyyy")
            : "")
        </p>

        <h5 class="mt-4">🏨 @RezerVanaUmv.Resources.Resource.Konaklama</h5>
        <p><strong>@RezerVanaUmv.Resources.Resource.Oda_Sayısı:</strong> @Model.RoomCount</p>
        <p><strong>@RezerVanaUmv.Resources.Resource.Oda_Tipi:</strong> @Model.RoomType</p>
        <p><strong>@RezerVanaUmv.Resources.Resource.Toplam_Puan:</strong> @Model.TotalAmount </p>
        <p><strong>@RezerVanaUmv.Resources.Resource.Rezervasyon_Kodu:</strong> @Model.BookingReference</p>
        <p><strong>Durum:</strong> @Model.Status</p>

        <h5 class="mt-4">🏢 @RezerVanaUmv.Resources.Resource.Ajans_ve_Sistem</h5>
        <p><strong>@RezerVanaUmv.Resources.Resource.Ajans:</strong> @Model.Agency?.Name</p>
        <p><strong>@RezerVanaUmv.Resources.Resource.Sistem:</strong> @Model.Tenant?.Name</p>
        <p><strong>@RezerVanaUmv.Resources.Resource.Operator:</strong> @Model.Operator?.Name</p>

    </div>

    <!-- SAĞ: Yolcu Bilgileri -->
    <div class="col-md-6">
        <h5>👥@RezerVanaUmv.Resources.Resource.Yolcu_Bilgileri</h5>

        @if (Model.Passengers != null && Model.Passengers.Any())
        {
            int i = 1;
            foreach (var p in Model.Passengers)
            {
                <div class="border p-2 mb-2 rounded">
                    <p><strong>@RezerVanaUmv.Resources.Resource.Yolcu: @i</strong></p>
                    <p><strong>@RezerVanaUmv.Resources.Resource.Ad:</strong> @p.FirstName</p>
                    <p><strong>@RezerVanaUmv.Resources.Resource.Soyad:</strong> @p.LastName</p>
                    <p><strong>@RezerVanaUmv.Resources.Resource.Cinsiyet:</strong> @p.Gender</p>
                    <p><strong>@RezerVanaUmv.Resources.Resource.Doğum_Tarihi:</strong> @p.BirthDate</p>
                </div>
                i++;
            }
        }
        else
        {
            <div class="alert alert-warning">@RezerVanaUmv.Resources.Resource.Yolcu_bilgisi_bulunamadı_</div>
        }
    </div>
</div>

<div class="mt-3">
    @if (@Model.Status != "Acquired")
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">@RezerVanaUmv.Resources.Resource.Edit</a>
    }
    <a asp-action="Index" class="btn btn-secondary">@RezerVanaUmv.Resources.Resource.Listeye_Geri</a>
</div>
